# Dependency directories
node_modules/
**/node_modules/

# Next.js build outputs
.next/
**/.next/
out/
build/

# Local databases & trace caches
tazent-db.json
.tazent_db/

# NPM cache
.npm-cache/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System files
.DS_Store
Thumbs.db
.vscode/
.idea/
